<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.needfood.kh"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize|adjustPan"
        tools:replace="android:icon">
        <activity android:name=".StartActivity"></activity>
        <activity android:name=".News.BestQuality" />
        <activity android:name=".Sugges.RawFood" />
        <activity android:name=".Sugges.Food" />
        <activity android:name=".Sugges.Drink" />
        <activity android:name=".Sugges.Fruits" />
        <activity
            android:name=".Product.ProductDetail"
            android:parentActivityName=".StartActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Brand.BrandDetail"
            android:label="@string/title_activity_brand_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <service android:name=".Service.BubbleService" />
        <!--
               <activity android:name="com.facebook.FacebookActivity"
               android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
               android:theme="@android:style/Theme.Translucent.NoTitleBar"
               android:label="@string/app_name" />
        -->

        <activity android:name=".Cart.ListCart" />
        <activity
            android:name=".More.MoreContanct"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".Setting.Setting"
            android:configChanges="locale"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".Login.Login"
            android:parentActivityName=".StartActivity" />
        <activity android:name=".News.News" />
        <activity
            android:name=".Login.Register"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".Login.GetCode"
            android:parentActivityName=".Login.GetPass" />
        <activity
            android:name=".Login.GetPass"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".Login.ChangePass"
            android:parentActivityName=".More.MoreContanct" />
        <activity
            android:name=".QRCamera"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".More.History.MoreHistory"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".More.History.OrderHistory"
            android:parentActivityName=".More.History.MoreHistory" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider144493206000726"
            android:exported="true" />

        <activity
            android:name=".Maps.MapsActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".More.Tranfer"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".Product.Howtouse"
            android:parentActivityName=".Product.ProductDetail" />

        <service
            android:name=".Service.MyFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Product.Preview"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".More.History.TransferHistory"
            android:parentActivityName=".StartActivity" />
        <activity android:name=".More.Contact" />
        <activity android:name=".More.ParentUs" />
        <activity android:name=".News.SellingOut" />
        <activity android:name=".More.History.HistoryDetail" />
        <activity android:name=".Login.Policy" />
        <activity android:name=".Login.DetailPolicy" />
        <activity android:name=".WellcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BarcodeCamera"></activity>
    </application>

</manifest>